@charset "UTF-8";

/* Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  margin: 0 !important;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  line-height: 1.5;
}
h2, h3 {
  font-weight: 700;
  line-height: 1.2;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
  }
  
  @media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }
  
  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
  }
  
  @media (min-width: 1400px) {
    .container {
      max-width: 1320px;
    }
  }
  

/* ------ HEADER ------ */
.header {
  background-color: #FFF;
  padding: 10px 0;
  display: flex;
  align-items: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 10px;
  max-width: 250px;
}

.header__logo-image {
  width: 100%;
  height: auto;
}

.header__logo-image img {
  width: 120px;
}

@media screen and (max-width: 450px) {
  .header__logo-image {
    width: 100px;
  }
}

/* ------ HOMEPAGE ------*/
.box-homepage__title {
  padding: 50px 0;
  font-size: 2rem;
}

.box-news-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 30px;
}

.box-news-list__highlight {
  background-color: #ededed;
  border-radius: 8px;
}

.box-news-list__highlight-image img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.box-news-list__highlight-content {
  padding: 20px 30px;
}

.box-news-list__highlight-content--category {
  background-color: white;
  padding: 5px;
  border: 1px solid black;
  border-radius: 4px;
  font-size: 0.8rem;
}

.box-news-list__highlight-content h3 {
  margin: 14px 0 18px;
  font-size: 1.3rem;
}

.box-news-list__highlight-content p {
  color: #484848;
  font-size: 0.9rem;
  font-size: 0.8rem;
  padding-bottom: 30px;
  font-weight: 500;
}

.box-news-list__highlight-content a {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #ec0000;
  font-weight: 500;
  gap: 10px;
  padding-bottom: 15px;
}

.box-homapge__button {
  display: flex;
  justify-content: center;
  margin: 45px 0;
}

.box-homapge__button a {
  background-color: #ec0000;
  color: #FFF;
  text-decoration: none;
  padding: 12px;
  border-radius: 4px;
}

@media screen and (max-width: 991px) {
  .box-news-list {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
  }
}

/* ------ SINGLE ------*/
.single-post {
    padding-top: 50px;
}

.single-post__wrapper {
    display: grid;
    grid-template-columns: minmax(300px, 2fr) minmax(280px, 1fr);
    gap: 30px;
}

.single-post__column-1 {
    width: 100%;
    max-width: 700px;
}

.single-post__column-2 {
    width: 100%;
    max-width: 460px;
}

.single-post__category {
    color: #7d7d7d;
    font-size: 1rem;
    text-transform: uppercase;
}

.single-post__title {
    font-size: 3rem;
    line-height: 50px;
    padding: 16px 0 30px;
}

.single-post__post-data {
    display: flex;
    align-items: center;
    gap: 20px;
    color: #888888;
    font-size: .9rem;
    padding-bottom: 36px;
}

.single-post--flex {
    display: flex;
    align-items: center;
    gap: 5px;
}

.single-post__content h2 {
    padding: 20px 0 30px;
}

.single-post__content p {
    padding-bottom: 30px;
    color: #808080;
}

.single-post__aside {
    border: 2px solid #dcdad6;
}

.single-post__aside h3 {
    font-size: 1.4rem;
    padding: 20px;
}

.single-post__aside a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #222222;
    font-weight: 700;
    font-size: 1rem;
    text-decoration: none;
    border-bottom: 1px solid #e0e0e0;
    transition: color 0.3s;
    padding: 15px;
}

.single-post__aside a:nth-child(even) {
    background-color: #f0f0f0;
}

@media screen and (max-width: 991px) {
    .single-post__wrapper {
        grid-template-columns: 1fr;
        place-items: center;
    }
}

/* ------ BLOCO CUSTOMIZADO ------ */
.box-investimentos {
  border: 2px solid #e3eef9;
  border-radius: 4px;
  padding: 28px 34px;
  margin-bottom: 20px;
}

.box-investimentos__risco {
  color: #bebebe;
  border: 2px solid #989898;
  border-radius: 4px;
  padding: 5px 20px;
}

.box-investimentos__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0 0;
}

.box-investimentos__info div {
  display: flex;
  gap: 10px;
  font-size: 1.6rem;
  font-weight: bold;
}

.box-investimentos__info p {
  padding-bottom: 0;
}

.box-investimentos p {
  color: #aaaaaa;
  font-size: 1em;
}

.box-investimentos__link {
  background-color: #ec0001;
  color: #fff;
  padding: 10px 50px;
  border-radius: 4px;
  font-size: 1.2rem;
  text-decoration: none;
}

.box-investimentos__details {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding-top: 20px;
}

.box-investimentos__blocks {
  background-color: #f4f4f4;
  padding: 10px 20px 40px;
  text-align: center;
  border-radius: 4px;
}

.box-investimentos__blocks p {
  font-weight: bold;
  font-size: 1rem;
  color: #000;
  padding-bottom: 10px;
}

.box-investimentos__blocks span {
  color: #737373;
}

@media screen and (max-width: 767px) {
  .box-investimentos__details {
    grid-template-columns: 1fr;
  }

  .box-investimentos__header {
    flex-direction: column;
    align-items: flex-start;
  }

  .box-investimentos__info div {
    font-size: 1.2rem;
  }

  .box-investimentos__link {
    width: 100%;
    text-align: center;
    margin-top: 10px;
  }
}